@import '../../../styles/settings.scss';

.cardContainer {
  border: 1px solid $color-border;
  border-radius: $radius;
  padding: 16px;
  box-shadow: $shadow;

  .card {
    margin-bottom: 16px;

    .cardHeader {
      min-height: 130px;
    }

    .avatar {
      background-color: $color-background-avatar;
      width: 50px;
      height: 50px;
    }

    .cardPicture {
      height: 400px;
      object-fit: contain;
    }

    .content {
      padding: 0 16px 16px 16px;

      overflow: hidden;
    }
  }
}
