$color-text: #141414;
$color-text-light: #1d1d1d;
$color-text-bright: #fff;
$color-primary: #3498db;
$color-secondary: #218c74;
$color-background: #fff;
$color-background-avatar: #bb0000;

$font-header: 'Source Sans Pro', sans-serif;
$font-text: 'Source Sans Pro', sans-serif;

$radius: 5px;
$base-size: 14px;
$transition: all 0.5s;
